.NumberPicker {
  display: grid;
  grid-template-columns: auto 30px;
}

.Title {
  color: darkslategray;
  font-size: 1.2em;
  padding-left: 1em;
  padding-top: 0.5em;
  font-weight: bolder;
  text-transform: uppercase;
}

.ButtonsContainer {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
}

.Button {
  width: 100%;
}
